@use '../config/variaveis';
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: variaveis.$corSecundaria;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
    .menu {
        display: flex;
        li {
            font-weight: bold;
            margin-left: 24px;
        }
        li a {
            color: variaveis.$corBranco;
        }
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 80%;
    }
    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;
    }
    .product-item {
        margin-bottom: 32px;
    }
}